# Visual Studio Specific
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Directories
bin/
obj/

# NuGet Packages
*.nupkg
packages/
*.snupkg

# Logs
*.log
Logs/

# Configuration Files
appsettings.*.json
appsettings.json

# Database and Migrations
Migrations/
*.mdf
*.ldf

# Secrets
secrets.json

# Rider and Other IDEs
.idea/
*.iml
.DS_Store

# Test Results
TestResults/

# Publish
publish/
out/
